*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
  background-color: rgb(39, 48, 61);
  height: 40vh;
}

.footer{
  background-color:  rgb(39, 48, 61);
  height: 15vh;
  
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}