*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
input{
    outline: 0;
    border:1px solid rgb(0, 119, 204);
}
form .button{
    width: 20vh;
}
select{
    border: transparent !important;
}
.card{
    max-width: 50vh;
}

  